form {
    margin:auto;
}

.meter-wrap{
    margin: 0 auto 1em auto;
    position: relative;
	}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 155px; height: 30px;

}

.meter-wrap, .meter-value {
    background: #bdbdbd url(meter-outline.png) top left no-repeat;

}
            
.meter-text {
    position: absolute;
    padding-top: 3px;
    color: #fff;
    text-align: center;
    width: 50%;
}

.output-text
{
	
	text-align: center;
    color:#ECF1EF;
}

div#apinstall {
    position:absolute;
    top: 15%;
    left: 50%;
    width:30em;
    height:130px;
    margin-top: -65px; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color:white;
    padding-top:15px;
        padding-bottom:7px;

    /*position:absolute;
    width:30%;
    height:100px;
    margin:auto;
    background-color:white;
    margin-top: 30px;
    padding-top:15px;
    padding-bottom:7px;*/
}