<div class="container">
    <h2 class="modx-page-header">[[+RefreshCache]]</h2>

    <div class="x-panel-body shadowbox">
        <div class="panel-desc">[[+rc_refresh_resource_cache]]</div>
        <div class="x-panel main-wrapper">
            <fieldset id="refreshcache_fieldset">
                <br class="clear"/>
                <br class="clear">
                <div class="refreshcache_submit">
                    <input class="x-btn x-btn-text" type="submit" id="refreshcache_submit"
                           name="refreshcache_submit" value="[[+rc_button_message]]"/>
                </div>
                <div id="refreshcache_results" style="display:none">
                    <div id="progressBar">
                        <div></div>
                    </div>
                    <div id="refresh_cache_pagetitle" style="display:none">[[+rc_refreshing]]: <span
                            class=pbar_text></span>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>
</div>